n8n/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f69221c8-05f1-4c11-9959-aaba3ec8a282",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        144
      ],
      "id": "624c48a9-e152-4796-a34d-4d181fa0ee73",
      "name": "Webhook",
      "webhookId": "f69221c8-05f1-4c11-9959-aaba3ec8a282"
    },
    {
      "parameters": {
        "operation": "classify",
        "input": "= {{ $json.body.comment }}"
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -480,
        144
      ],
      "id": "4166241c-5d52-4f1d-9e86-cd2c7ab8b8e9",
      "name": "Classify text for violations",
      "credentials": {
        "openAiApi": {
          "id": "3PhQ5230M10Hj1bL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"valid\": true\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        304,
        -96
      ],
      "id": "eba847e8-9896-4cbb-b89d-1c08ea52f0ca",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c8fc9240-824c-4d20-a122-e829f0b3fcd5",
              "leftValue": "={{ $json.flagged }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        144
      ],
      "id": "c4cf1b45-d33a-497a-94d2-db85a965dc04",
      "name": "If"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "comments",
          "mode": "list",
          "cachedResultName": "comments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $('Webhook').item.json.body.comment }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        -96
      ],
      "id": "f49aa86f-36e9-4731-bcce-ff619e8cd8f0",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "UO7ehn7zYqNzps5L",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Xf5KHPmKEgvMJW8-NI6aXEcr60HJwRt1Qa5Ft4-NsCk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xf5KHPmKEgvMJW8-NI6aXEcr60HJwRt1Qa5Ft4-NsCk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "comment-content": "={{ $('Webhook').item.json.body.comment }}",
            "reason": "={{ $('Code in JavaScript').item.json.categories }}",
            "date": "={{ $json.formattedDate }}"
          },
          "matchingColumns": [
            "comment-content"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "comment-content",
              "displayName": "comment-content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        352
      ],
      "id": "53caf83e-7ad8-467e-9791-043ba55d8a74",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5p8rg22LfDKvsvAM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "invalid_comments",
          "mode": "list",
          "cachedResultName": "invalid_comments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $('Webhook').item.json.body.comment }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        160
      ],
      "id": "1e1a0261-b70d-4edb-b73a-96557ee1fa57",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "UO7ehn7zYqNzps5L",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"valid\": false\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        304,
        160
      ],
      "id": "f1a4bb76-a04d-4aa2-ad63-53e334159051",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "const results = $('Classify text for violations').first().json;\nconst categories = results.categories;\nconst category_scores = results.category_scores;\nlet flaggedCategories = \"\"; // Changed to 'let' to allow modification\n\nfor (const key in categories) {\n  if (categories[key] === true) {\n    // Used backticks and updated 'categories[key]' to 'key'\n      const score = category_scores[key].toFixed(2);\n\n    flaggedCategories += `Reason: ${key} - Score: ${score} \\n`;\n  }\n}\n\n// delete last \\n\nflaggedCategories = flaggedCategories.slice(0, -2); \nreturn {\"categories\" : flaggedCategories};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        352
      ],
      "id": "0b2b4341-6c62-4935-be56-7676c995bd31",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{$today}}",
        "format": "custom",
        "customFormat": "dd.MM.yyyy",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        304,
        352
      ],
      "id": "5be01092-9b21-4bc6-a3b3-2dc89aaa3ab9",
      "name": "Date & Time"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Classify text for violations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify text for violations": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "caf568c4-35a6-4432-bd35-706e362a8e29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e034c646e89e62a9314ca0519ccbd63ff9f6f1d9edf3e12876825f5bd0ae6bc4"
  },
  "id": "Q-YM14mPYGNzAIgQ9tiE5",
  "tags": []
}